{% extends 'music/base.html' %}

{% block body %}
    <img src="{{ album.album_logo }}" style='width: 250px;'>
    
    <h1>{{ album.album_title }}</h1>
    <h3>{{ album.artist }}</h3>
    
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    {% for song in album.song_set.all %}
        <label for="song{{ forloop.counter }}">
            {{ song.song_title }}
            {% if song.is_favorite %}
            <img src='https://i.imgur.com/b9b13Rd.png'>
            {% endif %}
        </label><br>
    {% endfor %}

{% endblock %}
